<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="navigation"></div>
    <h1>{{title}}</h1>
    <p>Ven Gist is a <a href="/design">designer</a>, <a href="/facilitation">facilitator</a>, and <a href="/explore">explorer</a> of local space-time.</p>
  </body>
  <script src="/js/vendors.js"></script>
  <script src="/js/app.js"></script>
</html>
